In [31]:
import pandas as pd
data = pd.read_csv("https://data.wprdc.org/dataset/c6265ffb-c86e-4a2c-870b-1aaa0772c449/resource/14abb000-d066-4728-8ffa-227883d6c331/download/wage-or-salary-income-in-the-past-12-months-for-households.csv",
                  index_col='Id')
data.head(10)

,Neighborhood,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - With wage or salary income,Margin of Error; Total: - With wage or salary income,Estimate; Total: - No wage or salary income,Margin of Error; Total: - No wage or salary income
Id,,,,,,,
1,Allegheny Center,733.0,103.000000,462.0,94.000000,271.0,87.000000
2,Allegheny West,150.0,46.000000,120.0,40.000000,30.0,26.000000
3,Allentown,1138.0,152.751432,772.0,146.771932,366.0,109.389213
4,Arlington,685.0,105.366029,566.0,104.589674,119.0,44.452222
5,Arlington Heights,170.0,69.000000,96.0,58.000000,74.0,52.000000
6,Banksville,2002.0,224.986666,1596.0,226.477372,406.0,145.168867
7,Bedford Dwellings,684.0,63.000000,294.0,69.000000,390.0,77.000000
8,Beechview,3557.0,270.051847,2654.0,249.649755,903.0,162.154248
9,Beltzhoover,869.0,146.594679,586.0,117.187883,283.0,107.712581
10,Bloomfield,4640.0,215.506380,3789.0,223.385317,851.0,117.388245

So I have data about how many people are living in a neighborhood "With wage or salary income" and with "No wage or salary income".
My metric is the percentage of the population in a neighborhood that has an income.
I'm going to make a dataframe that holds values equivalent to the percentage of people with wage/salary income out of the whole population of that area.

In [38]:
percs = [0.0]*len(data.index)
i = 0
for item in data.iterrows():
    try:
        percent = item[1][3]/item[1][1]
    except:
        percent = 0.0
    percs[i]=percent
    i+=1

So now I have an array with all the percentages (Total people with income)/(Total people in neighborhood)
Let's add it to the dataframe in a column called 'Percent with Income'

In [39]:
data['Percent with Income'] = percs
data.head(10)

,Neighborhood,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - With wage or salary income,Margin of Error; Total: - With wage or salary income,Estimate; Total: - No wage or salary income,Margin of Error; Total: - No wage or salary income,Percent with Income
Id,,,,,,,,
1,Allegheny Center,733.0,103.000000,462.0,94.000000,271.0,87.000000,0.630286
2,Allegheny West,150.0,46.000000,120.0,40.000000,30.0,26.000000,0.800000
3,Allentown,1138.0,152.751432,772.0,146.771932,366.0,109.389213,0.678383
4,Arlington,685.0,105.366029,566.0,104.589674,119.0,44.452222,0.826277
5,Arlington Heights,170.0,69.000000,96.0,58.000000,74.0,52.000000,0.564706
6,Banksville,2002.0,224.986666,1596.0,226.477372,406.0,145.168867,0.797203
7,Bedford Dwellings,684.0,63.000000,294.0,69.000000,390.0,77.000000,0.429825
8,Beechview,3557.0,270.051847,2654.0,249.649755,903.0,162.154248,0.746134
9,Beltzhoover,869.0,146.594679,586.0,117.187883,283.0,107.712581,0.674338
10,Bloomfield,4640.0,215.506380,3789.0,223.385317,851.0,117.388245,0.816595

Now let's find the top 10 Neighborhoods in terms of income

In [42]:
data.sort_values('Percent with Income', ascending = False).head(10)

,Neighborhood,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - With wage or salary income,Margin of Error; Total: - With wage or salary income,Estimate; Total: - No wage or salary income,Margin of Error; Total: - No wage or salary income,Percent with Income
Id,,,,,,,,
72,South Shore,8.0,9.000000,8.0,9.000000,0.0,10.000000,1.000000
32,Fairywood,457.0,85.000000,447.0,83.000000,10.0,16.000000,0.978118
58,North Shore,141.0,36.400549,133.0,37.363083,8.0,15.620499,0.943262
34,Friendship,1077.0,125.924581,972.0,142.688472,105.0,76.157731,0.902507
31,Esplen,147.0,53.000000,129.0,54.000000,18.0,20.000000,0.877551
55,Mt. Oliver,221.0,42.000000,193.0,42.000000,28.0,15.000000,0.873303
81,Strip District,478.0,66.000000,417.0,72.000000,61.0,37.000000,0.872385
20,Central Oakland,1918.0,152.676128,1658.0,157.946193,260.0,87.028731,0.864442
68,Ridgemont,168.0,56.000000,141.0,51.000000,27.0,23.000000,0.839286
82,Summer Hill,524.0,15.000000,439.0,38.000000,85.0,33.000000,0.837786

So the neighborhoods that have the most people making money are:
1. South Shore
2. Fairywood
3. North Shore
4. Friendship
5. Esplen
6. Mt. Oliver
7. Strip District
8. Central Oakland
9. Ridgemont
10. Summer Hill

But if you notice, South shore only has 8 people, which has no real impact. So Out of the top 10 percentages, I'll pick which has the most people, as a sort of balance between percent with income and total with wage or salary. 
#### And that makes the best neighborhood acording to my findings:
#### Central Oakland